<div class="carousel-card">
    <div class="top">
        <carousel loop="true" nav="true" autoplay="true" dots='false'>
            <div class="container">
                123
            </div>
            <div class="container">
                546
            </div>
            <div class="container">
                789
            </div>
            <div class="container">
                1888
            </div>
            <div class="container">
                999
            </div>
        </carousel>
    </div>
    <div class="bottom">
        <i class="material-icons">height</i>
    </div>
</div>