<div class="carousel-card">
    <div class="top">
        <carousel loop nav  dots autoplay>
            <div class="container" v-for="item in main_data.card">
                <div class="content-title">
                    <h2>{{ item.price }}</h2>
                    <span>元券</span>
                </div>
                <div class="content">
                    {{ item.content }}
                </div>
            </div>
        </carousel>
    </div>
    <div class="bottom">
        <i class="material-icons">height</i>
    </div>
</div>