<div class="content3page">
    <div class="top">
        <h2>購買項目&聯繫方式</h2>
    </div>
    <div class="container">
        <div class="input-data">
            <input class="input" type="text" required="" />
            <div class="underline"></div>
            <label>Name</label>
        </div>
        <div class="input-data">
            <input class="input" type="text" required="" />
            <div class="underline"></div>
            <label>Phone</label>
        </div>
        <div class="input-data">
            <input class="input" type="text" required="" />
            <div class="underline"></div>
            <label>Email</label>
        </div>
        <div class="input-data textarea">
            <textarea required="" cols="30" rows="10"></textarea>
            <div class="underline"></div>
            <label>Textarea</label>
        </div>
    </div>
</div>