<div class="content3page">
    <div class="top" >
        <h2
        data-aos="fade-left" 
        data-aos-duration="1000"
        data-aos-anchor-placement="center-bottom">
            購買項目&聯繫方式
        </h2>
    </div>
    <div class="container" 
    data-aos="fade-right" 
    data-aos-duration="1000"
    data-aos-anchor-placement="center-bottom">
        <div class="input-data">
            <input class="input" type="text" required="" />
            <div class="underline"></div>
            <label>Name</label>
        </div>
        <div class="input-data">
            <input class="input" type="text" required="" />
            <div class="underline"></div>
            <label>Phone</label>
        </div>
        <div class="input-data">
            <input class="input" type="text" required="" />
            <div class="underline"></div>
            <label>Email</label>
        </div>
        <div class="input-data textarea">
            <textarea required="" cols="30" rows="10"></textarea>
            <div class="underline"></div>
            <label>Textarea</label>
        </div>
        <div class="a-container">
            <a href="#" class="a">提交</a>
        </div>
    </div>
</div>