<div class="content2page">
    <div class="container top">
        <div class="content">
            <p>lorem</p>
        </div>
        <div class="content">
            <p>lorem</p>
        </div>
        <div class="content">
            <p>lorem</p>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <p>Lorem</p>
            <p>點擊查看</p>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <p>Lorem</p>
            <p>點擊查看</p>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <p>Lorem</p>
            <p>點擊查看</p>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <p>Lorem</p>
            <p>點擊查看</p>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <p>Lorem</p>
            <p>點擊查看</p>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <p>Lorem</p>
            <p>點擊查看</p>
        </div>
    </div>
    <div class="hr">
        <div class="line"></div>
        <span>
            主推款
        </span>
    </div>
    <div class="container bottom">
        <div class="content">
            <div class="img-container"></div>
            <div class="sub-content">
                <div class="left">
                    <p>lorem</p>
                </div>
                <div class="right">
                    <a>購買</a>
                    <a class="mask" href="#">購買</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <div class="sub-content">
                <div class="left">
                    <p>lorem</p>
                </div>
                <div class="right">
                    <a>購買</a>
                    <a class="mask" href="#">購買</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <div class="sub-content">
                <div class="left">
                    <p>lorem</p>
                </div>
                <div class="right">
                    <a>購買</a>
                    <a class="mask" href="#">購買</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="img-container"></div>
            <div class="sub-content">
                <div class="left">
                    <p>lorem</p>
                </div>
                <div class="right">
                    <a>購買</a>
                    <a class="mask" href="#">購買</a>
                </div>
            </div>
        </div>
    </div>
</div>