<div class="mainpage">
    <div class="banner">
        <div class="img-container">
            <img src="/img/top-cover.jpg" alt="">
        </div>
        <div class="logo-container">
            <img src="/img/Logo.svg" alt="">
        </div>
        <div class="title-container">
            <div>
                <span>美妙</span><span>家居</span>
            </div>
            <div>
                <span class="sub">beautiful</span><span class="sub">Furniture</span>
            </div>
        </div>
        <div class="a-container">
            <div class="a-sub-container">
                <a href="#">立即體驗</a>
                <a href="#">立即體驗</a>
            </div>
        </div>
    </div>
</div>