.carouselproduct{
    margin: 20px 0;
    .container-top{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;
        @media (min-width:375px) {
            height: 225px;
        }
        @media (min-width:414px) {
            height: 250px;
        }
        @media (min-width:768px) {
            height: 460px;
        }
        .arrow-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 100%;
            .arrow{
                color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                background-color: var(--text_color);
                cursor: pointer;
            }
        }
        .container{
            height: 100%;
            border-radius: 50%;
            border: 1px solid var(--text_color);
            width:60%;
            position: relative;
            overflow: hidden;
            .fade-in-enter{
                opacity: 0;
            }
            .fade-in-enter-active{
                    transition: all 1s;
            }
            .fade-in-enter-to{
                opacity: 1;
            }
            .img-container{
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
    .container-bottom{
        height: 100px;
        margin-top: 15px;
        position: relative;
        @media (min-width:768px) {
            height: 125px;
        }
        .cotent.container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
        }
        .fade-in-enter{
            opacity: 0;
        }
        .fade-in-enter-active{
                transition: opacity 1s;
        }
        .fade-in-enter-to{
            opacity: 1;
        }
        h3{
            color: #afafaf;
            margin: 0;
            font-size: 16px;
            text-align: center;
            @media (min-width:768px) {
                font-size: 24px;
            }
        }
        p{
            margin: 10px 0;
            color: #afafaf;
            text-align: center;
            font-size: 36px;
            font-weight: 500;
            @media (min-width:768px) {
                font-size: 48px;
            }
        }
    }
}