<div class="footer">
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.8139969516187!2d120.65268201536752!3d24.143169479574237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693df0ad32ee69%3A0xb27ba42ba48fc4a3!2z5rOz5qyj5bmz6Z2i6Kit6KiIIOe2sui3r-ihjOmKtw!5e0!3m2!1szh-TW!2stw!4v1623223239091!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="content">
        <a href="https://www.yongxin-design.com/">官網：www.yongxin-design.com</a>
        <p>電話：04 2471 9799</p>
        <p>地址：台中市南屯區精誠路504號2 F</p>
    </div>
</div>