<div class="content-1-page">
    <div class="container">
        <div class="main-container top">
            <div class="sub-container left">
                <div class="top">
                </div>
                <div class="bottom">
                    <p class="title">純棉</p>
                    <div class="content">Lorem ipsum dolor sit amet</div>
                </div>
            </div>
            <div class="sub-container right">
                <div class="top">
                    <p class="title">新款。家</p> 
                    <div class="content">ipsum dolor sit amet</div>
                </div>
                <div class="bottom">
                </div>
            </div>
        </div>
        <div class="main-container mid-1">
            <div class="img-container">

            </div>
            <div class="img-container">
                
            </div>
            <div class="img-container">
                <p class="title">熱銷</p>
                <div class="content">
                    ipsum dolor sit amet
                </div>
            </div>
        </div>
        <div class="main-container mid-2">
            <div class="img-container">
                <p class="title">愛。生活</p>
                <div class="content">Lorem ipsum dolor sit amet</div>
            </div>
            <div class="img-container">
            </div>
        </div>
        <div class="main-container bottom">
            <div class="img-container"></div>
            <div class="img-container"></div>
            <div class="img-container"></div>
        </div>
    </div>
</div>